.bigBox {
  display:  inline-block;
  width: 33.33%;
  padding: 3%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 0;
}
img {
  max-width: 100%;
  padding: 5%
}
p {
  font-size: medium;
}
.medBox {
  position: relative;
  border: 3px solid cornflowerblue
}
.botBox {
  width: 20%;
  height: square;
}
.title {
  width: 80%;
  display: inline-block;
  margin: 0;
  font-family: sans-serif;
  color: cornflowerblue;
}
.price {
  width: 20%;
  display: inline-block;
  text-align: right;
  font-family: impact;
  color: cornflowerblue;
}
i {
  text-align: center;
  padding: 2% 0
}
.color1 {
  color: skyblue;
}
.color2 {
  color: palevioletred;
}
.color3 {
  color: burlywood;
}
.flip {
  border-left: 3px solid cornflowerblue;
  border-bottom: 3px solid cornflowerblue;
  max-width: 15%;
  height: 30px;
  padding: 1% 0;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
}
.compare {
  border-top: 3px solid cornflowerblue;
  border-right: 3px solid cornflowerblue;
}
.like {
  border-top: 3px solid cornflowerblue;
  border-right: 3px solid cornflowerblue;
}
.size {
  border-top: 3px solid cornflowerblue;
  border-right: 3px solid cornflowerblue;
  position: relative;
}
.color {
  border-top: 3px solid cornflowerblue;
  border-right: 3px solid cornflowerblue;
  position: relative;
}
.cart {
  border-top: 3px solid cornflowerblue;
}
.flip:hover {
  color: white;
  background: cornflowerblue;
  cursor: pointer;
}
.compare:hover {
  color: white;
  background: cornflowerblue;
  cursor: pointer;
}
.like:hover {
  color: white;
  background: cornflowerblue;
  cursor: pointer;
}
.size:hover {
  color: white;
  background: cornflowerblue;
  cursor: pointer;
}
.color:hover {
  color: white;
  background: cornflowerblue;
  cursor: pointer;
}
.cart:hover {
  color: white;
  background: cornflowerblue;
  cursor: pointer;
}
@media(max-width: 800px) {
  .bigBox {
    width: 50%
  }
}
@media(max-width: 500px) {
  .bigBox {
    width: 100%;
  }
}
.sizeBox {
  position: absolute;
  height: 130px;
  padding: 0;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: cornflowerblue solid 3px;
  visibility: hidden;
  opacity: 0;
  transition: 1s all ease;
  width: 100%;
  bottom: 100%;
}
.sizeBox:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -5px;
  bottom: -5px;
  left: 50%;
}
.sizeBox:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 7px 0;
  border-color: #5ca4d7 transparent;
  display: block;
  width: 0;
  z-index: 0;
  margin-left: -7px;
  bottom: -10px;
  left: 50%;
}
.colorBox {
  position: absolute;
  height: 130px;
  padding: 8px;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: cornflowerblue solid 3px;
  width: 100%;
  bottom: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 1s all ease;
}
.colorBox:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -5px;
  bottom: -5px;
  left: 50%;
}
.colorBox:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 7px 0;
  border-color: #5ca4d7 transparent;
  display: block;
  width: 0;
  z-index: 0;
  margin-left: -7px;
  bottom: -10px;
  left: 50%;
}
.face {
  color: black;
  max-width: 100%
}
.material-icons.face1 {
  font-size: 35px;
}
.material-icons.face2 {
  font-size: 30px;
}
.material-icons.face3 {
  font-size: 25px;
}
.material_icons.face4 {
  font-size: 20px;
}
.paint1 {
  color: skyblue;
}
.paint2 {
  color: palevioletred;
}
.paint3 {
  color: burlywood;
}
.paint4 {
  color: purple;
}
.face1:hover,.face2:hover,.face3:hover,.face4:hover {
  opacity: .5;
  cursor: pointer
}
.paint1:hover,.paint2:hover,.paint3:hover,.paint4:hover {
  opacity: .5;
  cursor: pointer;
}
.size:hover > .sizeBox {
  opacity: 1;
  visibility: visible;
}
.color:hover > .colorBox {
  opacity: 1;
  visibility: visible;
}